# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
appdirs 
beautifulsoup4 
blas 
brotli 
brotli-bin 
brotli-python 
bzip2 
ca-certificates 
certifi 
charset-normalizer 
contourpy 
cvxpy
cycler 
expat 
fonttools 
freetype 
frozendict 
gettext 
glib 
glib-tools 
gst-plugins-base 
gstreamer 
html5lib 
icu 
idna 
intel-openmp 
joblib 
kiwisolver 
krb5 
lcms2 
lerc 
libblas 
libbrotlicommon 
libbrotlidec 
libbrotlienc 
libcblas 
libclang 
libclang13 
libdeflate 
libexpat 
libffi 
libglib 
libiconv 
libjpeg-turbo 
liblapack 
libogg 
libpng 
libsqlite 
libtiff 
libvorbis 
libwebp-base 
libxcb 
libxml2 
libxslt 
libzlib 
lxml 
matplotlib 
matplotlib-base 
mkl 
mkl-service 
mkl_fft 
mkl_random 
multitasking 
munkres 
numpy 
numpy-base 
openjpeg 
openpyxl
openssl 
packaging 
pandas 
patsy 
pcre2 
peewee 
pillow 
pip 
ply 
pthread-stubs 
pyparsing 
pyqt 
pyqt5-sip 
pysocks 
python 
python-dateutil 
python-tzdata 
python_abi 
pytz 
qt-main 
requests 
scipy 
scikit-learn
seaborn 
seaborn-base 
setuptools 
sip 
six 
soupsieve 
sqlite 
statsmodels 
tbb 
tk 
toml 
tomli 
tornado 
tzdata 
urllib3 
webencodings 
wheel 
xorg-libxau 
xorg-libxdmcp 
xz 
yfinance 
zlib 
zstd 
